.transbox {
    font-size: 18pt;
    font-weight: bolder;
}

.facts {
    background: #FFCFCC;
    height: 20px;
    margin-right: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
}

.history {
    background: #FFE0D3;
    height: 20px;
    margin-right: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
}

.references {
    background: #FFEFE1;
    height: 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
}

h2, h3 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

p {
    text-align: center;
}

img {
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 20%;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div.background:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

body {
    background-color: #FFFBF2;
    font-family: 'Catamaran', sans-serif;
    font-weight: lighter;
    color: black;
}

.pink-box {
    width: 47%;
    /*height: 200px;*/
    background-color: #FFF2D7;
    padding: 10px 10px 10px 10px;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 24;
    float: left;
    text-align: left;
    border-radius: 25px;
}

.blue-box {
    width: 47%;
    /*height: 200px;*/
    background-color: #FFE0D3;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    font-size: 24;
    float: right;
    text-align: left;
    border-radius: 25px;
}

.container {
    width: 800px;
    border: 1px solid #000000;
    padding: 20px;
    margin: 0 auto 0 auto;
}


/*for main nav*/

ul {
    margin: 5;
    padding: 10px 0 20px 10px;
    border-bottom: 3px double #000;
    background-color: #FFDCE2;
    font-family: 'Catamaran', sans-serif;
}

li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    color: black;
    font-weight: lighter;
}

a:link {
    float: left;
    line-height: 14px;
    font-weight: normal;
    margin: 0 10px 4px 10px;
    text-decoration: none;
    color: black;
}

a:link a:visited a:hover {
    border-bottom: 1px double #000;
    padding-bottom: 0px;
    background: transparent;
    color: black;
}

a:hover {
    color: #8A705B;
}

footer {
    border-top: 5px solid #8A705B;
    clear: both;
    text-align: center;
}

header {
    background-color: #FFEFE1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.jump span {
    display: inline-block;
    transition: transform 0.3s;
    cursor: url('http://csscursor.info/source/santahand.png'), default;
}

.jump span:hover {
    transform: translateY(-20px) rotate(10deg) scale(2);
}
