.transbox {
    font-size: 18pt;
    font-weight: bolder;
}

.facts {
    background: hsl(331, 100%, 64%);
    height: 20px;
    margin-right: 0;
    font-family: sans-serif;
    font-weight: normal;
}

.history {
    background: hsl(331, 86%, 70%);
    height: 20px;
    margin-right: 0;
    font-family: sans-serif;
    font-weight: normal;
}

div.references {
    background: hsl(331, 100%, 82%);
    height: 20px;
    margin-right: 0px;
    font-family: sans-serif;
    font-weight: normal;
}

h1 {
    text-align: center;
}

p {
    text-align: left;
}

img {
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 20%;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div.background:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

body {
    background-color: #FFE8ED;
    font-family: sans-serif;
    font-weight: lighter;
    color: black;
}

.pink-box {
    width: 47%;
    /*height: 200px;*/
    background-color: pink;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24;
    float: left;
    text-align: center;
}

.blue-box {
    width: 47%;
    /*height: 200px;*/
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24;
    float: right;
    text-align: center;
}

.container {
    width: 800px;
    border: 1px solid #000000;
    padding: 20px;
    margin: 0 auto 0 auto;
}


/*for main nav*/

ul {
    margin: 5;
    padding: 10px 0 20px 10px;
    border-bottom: 3px double #000;
    background-color: white;
}

li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    color: black;
    font-weight: lighter;
}

a:link {
    float: left;
    line-height: 14px;
    font-weight: normal;
    margin: 0 10px 4px 10px;
    text-decoration: none;
    color: black;
}

a:link a:visited a:hover {
    border-bottom: 1px double #000;
    padding-bottom: 0px;
    background: transparent;
    color: black;
}

a:hover {
    color: lightblue;
}

footer {
    clear: both;
    padding-top: 10px;
}
